<div ng-controller="drawerController as drawerCtrl" class="">
  <h1 class="page-title">{{drawerCtrl.title}}</h1>
  <div class="search-container">
    <div class="form-group search-container">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="search" class="form-control" placeholder="Search..." ng-model="search">
        <span class="help-block">Search for subreddits</span>
      </div>
    </div>
  </div>

  <div class="results-container" ng-repeat="subreddit in fsubreddits = (drawerCtrl.subreddits | filter:search | limitTo:8)">
    <div ng-click="drawerCtrl.goTo(subreddit)" class="subreddits">{{subreddit}}</div>
    <hr/>
  </div>
  <div class="empty" ng-show="!fsubreddits.length"> no sureddits found! &#9785; </span>
</div>
