<div class="subreddits_drawer">
  Subreddits <span class="caret-r-l"> > </span>
</div>

<div class="tabs">
  <div class="tab active">
    <span class="subreddit_name">/r/front</span>
    <span class="close">x</span>
  </div>
</div>

<div class="fill"> </div>

<div class="new_thread">
  <span class="name">
    <img src="css/icons/ic_add_circle_outline.svg" ng-click="openNewThread()" alt="" />
  </span>
</div>

<div class="messages" type="button"  data-toggle="modal" data-target="#chatModal">
  <img src="css/icons/ic_chat_bubble_outline.svg" alt="" />

</div>


<div class="user" ng-click="sCtrl.goToUserPage(0)">
  My Account
</div>
