<div class="row">
	<div class="col-lg-2 col-sm-4" ng-repeat="i in [1,2,3,4,5,6]">
		<div class="card shadow">
			<div class="card-height-indicator"></div>
			<div class="card-content">
				<div class="card-header">
					<p style="text-align: center"> Picture Post </p>
				</div>

				<div class="card-image">
					<img src="https://placekitten.com/g/450/300" alt="Loading image...">
				</div>

				<div class="card-body">
					<p>
						Scratch Belly </br>
						<span>Post Information</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="spacer" style="height: 30px;"></div>

<div class="row">
	<div class="col-lg-6 col-sm-12" ng-repeat="i in [1,2,3,4,5,6]">
		<div class="card shadow" style="height: 80px;">
			<div class="card-height-indicator"></div>
			<div class="card-content">

				<div class="card-body">
					<p>
						<span>Text post </span>
						<span style="color: gray">Post Information: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </span>

					</p>
				</div>
			</div>
		</div>
	</div>
</div>
