.content {
  padding-top: 15px;
}
.content > div {
  display: none;
  /*font-size: 30px;*/
  /* This is so the divs stack when they are not displayed*/
  position: absolute;
  width: 100%;
}

#drawer {
  display: none;
  width: 300px;
  height: calc(70vh - 40px);
  background: white;
  z-index: 999;
  position: absolute;
  top: 100px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#drawer:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 50px;
  top: -50px;
  border:25px solid;
  border-color: transparent transparent black black;
}

#drawer:after {
  content:' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 51px;
  top: -48px;
  border: 24px solid;
  border-color: transparent transparent white white;
}

.search-container {
  width: 90%;
}

.results-container {
  margin-top: 15px;
}

.results-container .subreddits {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid transparent;
}

.results-container .subreddits:hover {
  cursor: pointer;
  border: 1px solid gray;
  background: gray;
  border-radius: 5px;
}

.empty {
  margin-top: 15px;
  text-align: center
}


/* Move somewhere better maybe*/
.shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.shadow:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
