.content {
  padding-top: 15px;
}
.content > div {
  display: none;
  /*font-size: 30px;*/
  /* This is so the divs stack when they are not displayed*/
  position: absolute;
  width: 100%;
}

#drawer {
  width: 300px;
  height: calc(100vh - 40px);
  background: white;
  z-index: 999;
  position: absolute;
  left: -300px;
  border-right: 1px solid black;
}

.search-container {
  width: 90%;
}

.empty {
  margin-top: 15px;
  text-align: center
}


/* Move somewhere better maybe*/
.shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.shadow:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
