body {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

hr {
  background-color: #ccc;
  border: none;
  height: 1px;
  width: 70%;
  margin-top: 0;
  margin-bottom: 0;
}
.page-title {
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.lowercase {
  text-transform: lowercase;
}
.arrows{
  text-align: center;
  padding-right: 0 !important;
  color: #BABABA;
}
.score{
  user-select:none;
}
/*.
.up-arrow{

  color: #BABABA;
}

.down-arrow{
  color: #BABABA;
}*/

.up-arrow:hover{
  color: orange;
}

.down-arrow:hover{
  color: lightblue;
}
